<div class="tabs tabs-icon-top tabs-light">

  <button ng-click="Slide.toggleFollow()" class="tab-item button button-light "
    ng-class="{activated: Slide.isFollowOn()}" >
    <i class="icon " 
      ng-class="{'ion-eye': Slide.isFollowOn(), 'ion-eye-disabled': !Slide.isFollowOn}"></i>
    Follow 
  </button>

  <button ng-click="Slide.previous()" class="tab-item button button-light ">
    <i class="icon ion-arrow-left-b"></i>
    Previous
  </button>

  <button ng-click="Slide.next()" class="tab-item button button-light">
    <i class="icon ion-arrow-right-b"></i>
    Next
  </button>

  <button ng-click="Slide.makePresenter()" class="tab-item button button-light"
    ng-disabled="Slide.isPresenterTaken()"
    ng-class="{activated: Slide.isPresenter()}" >
    <i class="icon ion-mic-b"></i>
    Presenter
  </button>

</div>
