<div class="list">

    <a class="item item-avatar" href="http://bit.ly/mobile-prototype">
      <img src="img/ionic.png">
      <h2>bit.ly/mobile-prototype</h2>
      <p>Please go ahead and open the app on your phone</p>
    </a>
    <a class="item item-avatar">
      <img src="img/wifi.png">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="wifi" ng-model="presentation.wifi.ssid" ng-disabled="!Slide.isPresenter()">
         </label>
        <label class="item item-input">
          <input type="text" placeholder="password" ng-model="presentation.wifi.password" ng-disabled="!Slide.isPresenter()">
        </label>
      </div>
    </a>

</div>
