<div class="list card">

  <div class="item item-avatar">
    <img src="img/sos.jpeg">
    <a href="http://filipesperandio.github.io/WhatShouldISay/www/">
    <h2>What Should I Say?</h2>
    <p>Let's build an app!!! </p>
  </a>
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-arrow-right-c"></i>
    just 2 days
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-arrow-right-c"></i>
    prototype/cowboy
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-arrow-right-c"></i>
    Realtime colaboration
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-arrow-right-c"></i>
    Fun!
  </a>


</div>

