<div class="list card">

  <div class="item item-avatar">
    <img src="img/ionic.png">
    <h2>Ionic Framework</h2>
    <p>Build on top of angular and cordova</p>
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Has some pretty nice ready to go components
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    That you can easily use
  </a>

  <button class="button button-block button-positive">
    button-positive
  </button>

</div>
