
<div class="list list-inset">

  <div class="item">
    <a href="http://ionicframework.com/">
      Ionic Framework
    </a>
  </div>

  <div class="item">
    <a href="https://www.firebase.com/">
      Firebase
    </a>
  </div>

  <div class="item">
    <a href="http://angularfire.com">
      AngularFire
    </a>
  </div>

  <div class="item">
    <a href="http://angularjs.org/">
      Angular
    </a>
  </div>

  <div class="item">
    <a href="http://cordova.apache.org/">
      Apache Cordova
    </a>
  </div>

</div>

